# 1. Set up your enviornment

In [126]:
import pandas as pd
import numpy as np

# 2. Load your datasets

In [127]:
april_may = pd.read_csv("Classes April-May 2018.csv")
june = pd.read_csv("Classes June 2018.csv")

# 3. Inspect the data

In [128]:
print(april_may.shape)
print(june.shape)

(2177, 7)
(1112, 7)

In [129]:

april_may.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,HXP,20-20-20 2.45pm-3.45pm,8-Apr-18,14:45:00,25,12,499.0
1,HXP,20-20-20 2.45pm-3.45pm,15-Apr-18,14:45:00,25,15,499.0
2,HXP,20-20-20 2.45pm-3.45pm,22-Apr-18,14:45:00,25,14,499.0
3,HXP,20-20-20 2.45pm-3.45pm,29-Apr-18,14:45:00,25,9,499.0
4,HXP,20-20-20 2.45pm-3.45pm,6-May-18,14:45:00,25,7,499.0

In [130]:
june.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR)
0,BRP,20:20:20 9.30-10.30am,1-Jun-18,9:30:00,35,28,499
1,BRP,20:20:20 9.30-10.30am,8-Jun-18,9:30:00,35,35,499
2,BRP,20:20:20 9.30-10.30am,15-Jun-18,9:30:00,35,31,499
3,BRP,20:20:20 9.30-10.30am,22-Jun-18,9:30:00,35,32,499
4,BRP,20:20:20 9.30-10.30am,29-Jun-18,9:30:00,35,19,499

# 4. Clean the data (Check missing values):

In [131]:

april_may.isnull().sum()

ActivitySiteID                              0
ActivityDescription                         0
BookingEndDateTime (Month / Day / Year)     0
BookingStartTime                            0
MaxBookees                                  0
Number Booked                               0
Price (INR)                                18
dtype: int64

In [132]:
june.isnull().sum()

ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
dtype: int64

# 4.1. drop rows with missing values:

In [133]:

april_may = april_may.dropna()
june = june.dropna()

# 4.2. Remove duplicates

In [134]:

april_may = april_may.drop_duplicates()
june = june.drop_duplicates()

# 4.3. Fix data types (Dates & Times especially)

In [135]:

april_may.dtypes

ActivitySiteID                              object
ActivityDescription                         object
BookingEndDateTime (Month / Day / Year)     object
BookingStartTime                            object
MaxBookees                                   int64
Number Booked                                int64
Price (INR)                                float64
dtype: object

In [136]:
june.dtypes

ActivitySiteID                             object
ActivityDescription                        object
BookingEndDateTime (Month / Day / Year)    object
BookingStartTime                           object
MaxBookees                                  int64
Number Booked                               int64
Price (INR)                                 int64
dtype: object

In [137]:
april_may["BookingEndDateTime"] = pd.to_datetime(
    april_may["BookingEndDateTime (Month / Day / Year)"], 
    format="%d-%b-%y", errors="coerce"
)

june["BookingEndDateTime"] = pd.to_datetime(
    june["BookingEndDateTime (Month / Day / Year)"], 
    format="%d-%b-%y", errors="coerce"
)

In [138]:
april_may.dtypes

ActivitySiteID                                     object
ActivityDescription                                object
BookingEndDateTime (Month / Day / Year)            object
BookingStartTime                                   object
MaxBookees                                          int64
Number Booked                                       int64
Price (INR)                                       float64
BookingEndDateTime                         datetime64[ns]
dtype: object

# 5. Feature Engineering (Add new useful columns to both DataFrames
## a) Day of the week
## b) Hour of the class (convert start time first)
## c) Capacity utilization
## d) Revenue

In [139]:
#Day of the week
april_may["Weekday"] = april_may["BookingEndDateTime"].dt.day_name()
june["Weekday"] = june["BookingEndDateTime"].dt.day_name()


#Hour of the class (convert start time first)
april_may["Hour"] = pd.to_datetime(
    april_may["BookingStartTime"], 
    format="%H:%M:%S", errors="coerce"
).dt.hour

june["Hour"] = pd.to_datetime(
    june["BookingStartTime"], 
    format="%H:%M:%S", errors="coerce"
).dt.hour


#Capacity utilization
april_may["Capacity_Utilization"] = april_may["Number Booked"] / april_may["MaxBookees"]
june["Capacity_Utilization"] = june["Number Booked"]/ june["MaxBookees"]

#Revenue
april_may["Revenue"] = april_may["Number Booked"] * april_may["Price (INR)"]
june["Revenue"] = june["Number Booked"] * june["Price (INR)"]

In [140]:
april_may.head()

,ActivitySiteID,ActivityDescription,BookingEndDateTime (Month / Day / Year),BookingStartTime,MaxBookees,Number Booked,Price (INR),BookingEndDateTime,Weekday,Hour,Capacity_Utilization,Revenue
0,HXP,20-20-20 2.45pm-3.45pm,8-Apr-18,14:45:00,25,12,499.0,2018-04-08,Sunday,14,0.48,5988.0
1,HXP,20-20-20 2.45pm-3.45pm,15-Apr-18,14:45:00,25,15,499.0,2018-04-15,Sunday,14,0.60,7485.0
2,HXP,20-20-20 2.45pm-3.45pm,22-Apr-18,14:45:00,25,14,499.0,2018-04-22,Sunday,14,0.56,6986.0
3,HXP,20-20-20 2.45pm-3.45pm,29-Apr-18,14:45:00,25,9,499.0,2018-04-29,Sunday,14,0.36,4491.0
4,HXP,20-20-20 2.45pm-3.45pm,6-May-18,14:45:00,25,7,499.0,2018-05-06,Sunday,14,0.28,3493.0

# 6. Data Integration, Merging & Quality Assurance
## 6.1. Ensure numeric types for core fields

In [141]:
for df in [april_may, june]: 
    df["MaxBookes"] = pd.to_numeric(df["MaxBookees"], errors = "coerce")
    df["Number Booked"] = pd.to_numeric(df["Number Booked"], errors = "coerce")
    df["Price (INR)"] = pd.to_numeric(df["Price (INR)"], errors = "coerce")

# 6.2. Label datasets and merge

In [142]:
april_may["Dataset"] = "Train"
june["Dataset"] = "Test"
combined = pd.concat([april_may, june], ignore_index = True)

In [143]:
combined = pd.concat([april_may, june], ignore_index = True)

# 6.3. Drop exact duplicates (same site/class/date/start/price/capacity/booked)

In [144]:
before_dups = len(combined)
combined = combined.drop_duplicates()
after_dups = len(combined)

In [145]:
print(before_dups)
print(after_dups)

3271
3271

# 6.4. Check for missing values

In [146]:

print("Missing values per column:")
print(combined.isnull().sum())

Missing values per column:
ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
BookingEndDateTime                         0
Weekday                                    0
Hour                                       0
Capacity_Utilization                       0
Revenue                                    0
MaxBookes                                  0
Dataset                                    0
dtype: int64

# 7. Quality Checks

In [147]:

print("Duplicates: ", combined.duplicated().sum())
print("Missing Values: ", combined.isna().sum())
print("Date range: ", combined["BookingEndDateTime"].min(), "to", combined["BookingEndDateTime"].max())

Duplicates:  0
Missing Values:  ActivitySiteID                             0
ActivityDescription                        0
BookingEndDateTime (Month / Day / Year)    0
BookingStartTime                           0
MaxBookees                                 0
Number Booked                              0
Price (INR)                                0
BookingEndDateTime                         0
Weekday                                    0
Hour                                       0
Capacity_Utilization                       0
Revenue                                    0
MaxBookes                                  0
Dataset                                    0
dtype: int64
Date range:  2018-04-01 00:00:00 to 2018-06-30 00:00:00

# 8. Renaming Columns

In [148]:
combined = combined.rename(columns={
    "ActivitySiteID": "Site_ID",
    "ActivityDescription": "Class_Name",
    "BookingEndDateTime (Month / Day / Year)": "End_Date",
    "BookingStartTime": "Start_Time",
    "MaxBookees": "Capacity",
    "Number Booked": "Booked",
    "Price (INR)": "Price_INR",
    "BookingEndDateTime": "End_DateTime",
    "weekday": "Weekday",
    "Hour": "Hour",
    "Capacity_Utilization": "Capacity_Utilization",
    "Revenue": "Revenue"
})

# 9. Save cleaned dataset

In [149]:
combined.to_csv("Cleaned_fitness_classes.csv", index = False)

## We have successfully cleaned, preprocessed, and saved the dataset for further analysis.